.qr-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.qr-popup-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 90%;
  width: 300px;

}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.qr-image {
  width: 220px;
  margin: 15px 0;
}
